extends base 

block content 
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Forget password?
            form.form.form--forget-pass
                .form__group.no-mrg-btm
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                    a.forget-password(href='/login') Back to login
                .form__group
                    button.btn.btn--green Reset password 